/* 16px = 100% = 1em  90px = 562,5%(90px/16)
px does not scale with page settings, em and % does
em and % overlap predefined size from its mother
px is static
rem - ignores parent defined size*/
body {
  background-color: white;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  height: 100px;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin-top: 20px;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

hr {
  border: 0;
  border-top: 8px dotted #b5e6e6;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}
/* Introduction */
.right-cloud {
  position: absolute;
  right: 8%;
  top: 50px;
  width: 20%;
}

.pro {
  text-decoration: underline;
}

.left-cloud {
  position: absolute;
  left: 8%;
  bottom: 130px;
  width: 18%;
}

@media (max-width: 570px) {
  .right-cloud {
    position: absolute;
    right: 8%;
    top: 100px;
  }
  .left-cloud {
    position: absolute;
    left: 5%;
    bottom: 20px;
  }
}

.mountain-main {
  display: block;
  width: 60%;
  margin: auto;
}

/* Profile and Skill Section */
.profile {
  width: 40%;
  margin: auto;
  text-align: center;
  line-height: 2;
}

.profile-image {
  width: 25%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.skill-row {
  width: 42%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.pomeranian-link {
  text-decoration: none;
  color: #fa5e76;
}

.github-link {
  text-decoration: none;
  color: #11999e;
}

.skills-icon-brain {
  width: 20%;
  margin-left: 30px;
  float: right;
}

.skills-icon-web {
  width: 20%;
  margin-right: 30px;
  float: left;
}

/* Work Section */

.work-title {
  margin-bottom: 70px;
}

.card {
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  transition: all 100ms linear;
  margin-bottom: 20px;
}

.card:hover {
  transform-style: preserve-3d;
  box-shadow: 1.5px 8px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

.web-tindog {
  width: 19%;
}

.web-perfume {
  width: 42%;
}

.app-calc {
  width: 45%;
}

.web-first {
  width: 62%;
}

.web-goit {
  width: 88%;
}

/* Contact Section */
.btn {
  box-shadow: 1px 3px 4px 0 #abc6d1;
  background: linear-gradient(to bottom, #aae7eb 5%, #63c7c7 100%);
  background-color: #aae7eb;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  padding: 7px 25px;
  text-decoration: none;
  margin: 50px auto 100px auto;
}
.btn:hover {
  background: linear-gradient(to bottom, #63c7c7 5%, #aae7eb 100%);
  background-color: #63c7c7;
}

.bottom-container {
  background-color: #66bfbf;
  margin: 0;
  color: #eaf6f6;
  padding: 50px;
}

/* Footer */
.footer-link {
  text-decoration: none;
  color: #11999e;
  display: inline-block;
  margin: auto 20px;
  padding-bottom: 20px;
}

.footer-text {
  margin-top: 40px;
  font-size: small;
}
